<h1>Show Doctor</h1>

<p>Name:  <%= @doctor.name %></p>
<p>Contact No: <%= @doctor.contact_no %>
<p>Speciality: <%= @doctor.speciality %></p>

<h3>Appointments</h3>

<% appointments = @doctor.appointments %>
<% if appointments.present? %>
<ul>
  <% appointments.each do |appointment| %>
  <li>
    <%= appointment.doctor.name || appointment.doctor.email %><%= appointment.patient.name || appointment.patient.email %><%= appointment.date %>
  </li>
  <% end %>
</ul>
<% else %>
<h3>No appointments found</h3>
<% end %>
<%= link_to "Edit Profile", edit_doctor_path(@doctor) %>