<!DOCTYPE html>
<html>

<head>
  <title>AppBook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= link_to "Login as doctor", new_doctor_session_path %>
  <br>
  <%= link_to 'Login as patient', new_patient_session_path %>
</body>

</html>